<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>demo6_2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- application 서블릿 전체에서 공유할 수 있음 -->
	<context-param>
		<param-name>imgDir</param-name>
		<param-value>/images/img</param-value>
	</context-param>

	<context-param>
		<param-name>testServerIp</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>
	
	<context-param>
		<param-name>realServerIp</param-name>
		<param-value>128.420.45</param-value>
	</context-param>

	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.mj.MyServlet</servlet-class>
		<init-param>
			<param-name>adminId</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>adminPw</param-name>
			<param-value>1234</param-value>
		</init-param>
	</servlet>
</web-app>